$White: #ffffff;
$Secondary: #f3f3f3;
$Green: #15c615;
$Black: #000;
$DarkBlue: rgb(27, 27, 54);
$Gray: gray;
$DarkGray: rgb(102, 100, 100);
$Border: #aeacaca4;
$Blue: rgb(88, 88, 254);
$Red: red;
$Tags: rgb(70, 70, 94);
