{% extends 'main.html' %} {% block content %}
<main id="change_password">
  {% include 'navbar.html' %}
  <section class="container wrapper">
    <div class="card">
      <h1 class="title">Change Password</h1>
      <form action="" method="post">
        {% csrf_token %} {% for field in form %}
        <label for="">{{field.label}}</label>
        {% for error in field.errors %}
        <small
          style="margin: 8px 0; display: block; color: red; font-size: 12px"
          >{{error}}</small
        >
        {% endfor %} {{field}} {% endfor %}
        <div class="footer flex flex-ai-c flex-jc-sb">
          <button>Submit</button>
          <a href="{% url 'forget-password' %}">Try another way</a>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}
