{% extends 'main.html' %} {% block content %}
<main id="change_password">
  {% include 'navbar.html' %}
  <section class="container wrapper">
    <div class="card">
      <h1 class="title">Forget Password</h1>
      <form action="" method="post">
        {% csrf_token %}
        <label for="">{{form.email.label}}</label>
        {% if request.user.is_authenticated %}
        <input
          type="email"
          name="email"
          value="{{request.user.email}}"
          style="pointer-events: none"
          required
        />
        {% else %} {{form.email}} {% endif %}
        <div class="footer flex flex-ai-c flex-jc-sb">
          <button>Send</button>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}
