{% extends 'main.html' %} {% block content %}
<main id="profile">
  {% include 'navbar.html' %}
  <section class="profile wrapper flex-g">
    <div class="left">
      <div class="card br-4">
        <div class="content">
          <div class="img">
            <img src="{{user.avatar.url}}" alt="" />
          </div>
          <h3>{{user.name}}</h3>
          <div class="short-bio">
            <span>{{user.domain}}</span>
          </div>
          <span>{{user.location}}</span>
        </div>
        <div class="footer">
          <a href="{% url 'send-message' user.username %}" class="br-4"
            >Send Message</a
          >
        </div>
      </div>
    </div>
    <div class="right">
      <div class="about">
        <div class="title"><h3>ABOUT ME</h3></div>
        <p>{{user.about}}</p>
      </div>
      <div class="skill">
        <div class="title">
          <span class="flex flex-ai-c flex-jc-s">
            <h3>SKILLS</h3>
            <span style="margin-left: 12px; font-size: 16px; color: gray"
              >({{user.skills_set.all.count}})</span
            >
          </span>
        </div>
        <div class="skills">
          {% if user.skills_set.all.count == 0 %}
          <div class="empty-skills">
            <h1>Empty Skills</h1>
          </div>
          {% else %} {% for skill in user.skills_set.all %}
          <div class="card">
            <span>{{skill.name}}</span>
            <p>{{skill.description}}</p>
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
      <div class="other-skills">
        <div class="title"><h3>OTHEAR SKILLS</h3></div>
        <div class="other">
          <span>Javascript</span>
          <span>Django</span>
          <span>Ruby</span>
          <span>Node</span>
          <span>Node</span>
          <span>Node</span>
          <span>Node</span>
          <span>Node</span>
          <span>Node</span>
          <span>Node</span>
          <span>Rest API</span>
          <span>C</span>
        </div>
      </div>
      <div class="projects">
        <div class="title">
          <span class="flex flex-ai-c flex-jc-s">
            <h3>PROJECTS</h3>
            <span style="margin-left: 12px; font-size: 16px; color: gray"
              >({{projects.count}})</span
            >
          </span>
        </div>
        <div class="project">
          {% if projects.count == 0 %}
          <div class="empty-pro">
            <h1>Empty Projects</h1>
          </div>
          {% else %} {% for project in projects %}
          <div class="card">
            <a href="{% url 'project' project.id %}" class="img">
              <img src="{{project.image.url}}" alt="" />
            </a>
            <div class="title">
              <a href="{% url 'project' project.id %}">{{project.title}}</a>
            </div>
            <p class="author flex flex-ai-c flex-jc-sb">
              <span
                >By
                <a href="{% url 'profile' project.owner.username %}"
                  >{{project.owner}}</a
                ></span
              >
              <span>{{project.createdAt|timesince}} ago</span>
            </p>
            <p>
              {{project.feedback}}% Positive Feedback
              <span>({{project.total_likes}} Likes)</span>
            </p>
            <div class="stack">
              {% for tag in project.tags.all %}
              <a href="{% url 'projects' %}?tag={{tag}}">{{tag}}</a>
              {% endfor %}
            </div>
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
