@use '../../utils' as *;
#my_account {
  .profile {
    width: 100%;
    height: 100%;
    display: grid;
    gap: rem(24);
    @include breakpoint-down(lr) {
      padding: 0 rem(12);
    }
    @include breakpoint-up(md) {
      grid-template-columns: 2fr 5fr;
    }
  }
  .right {
    position: relative;
    .skill {
      .title {
        h3 {
          font-size: $f-16;
          color: $DarkGray;
        }
        a {
          background-color: $Tags;
          color: $White;
          padding: rem(8) rem(12);
          border-radius: rem(4);
          transition: 300ms ease-in-out;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .skills {
        position: relative;
        padding: rem(12);
        background-color: $White;
        border-radius: rem(4);
        min-height: rem(150);
        .empty-skills {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0;
          left: 0;
          h1 {
            color: $Gray;
          }
        }

        .card {
          background-color: $White;
          padding: rem(6);
          &:not(:last-child) {
            border-bottom: rem(1) solid $Border;
          }
          .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            span {
              color: $Black;
              font-size: $f-14;
              margin-bottom: rem(6);
              color: $DarkGray;
            }
            p {
              color: $Gray;
              line-height: 1.3;
              margin: 0;
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            align-items: start;
            a {
              display: block;
              width: rem(60);
              height: rem(32);
              border-radius: rem(4);
              display: flex;
              align-items: center;
              justify-content: center;
              color: $White;
              transition: 300ms ease-in-out;
              &:hover {
                opacity: 0.8;
              }
              &:first-child {
                background-color: $Blue;
                margin-bottom: rem(6);
              }
              &:last-child {
                background-color: $Red;
                margin-top: rem(6);
              }
            }
          }
        }
      }
    }
  }
}
